@import url('https://fonts.googleapis.com/css?family=Nunito:900');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


* {
	margin: 0;
	padding: 0;
	background-color: firebrick;
}

h1 {
	color: white;
	font-family: 'Nunito';
	font-weight: 900;
	font-size: 5em;
	text-align: center;
}

a {
	text-decoration: none;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    height: 100%;
    width: 100%;
    flex-direction: column;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.done {
    opacity: 0;
    visibility: hidden;
}

.preloader h1#Kurbanov {
    color: white;
    font-family: 'Permanent Marker';
    font-size: 5em;
    text-align: center;
    transition: all 1s ease-in-out;

    animation-name: emergence;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-direction: normal; 
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 700px) {
  .preloader h1#Kurbanov {
    font-size: 3em;
  }
}

.soon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    height: 100vh;
    flex-direction: column;
    user-select: none;
}

.projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.projects .ex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px solid #232323;
	border-radius: 5px;
	margin: 10px;
	outline: none!important;
	cursor: pointer;
	width: 300px;
}

.projects .ex h1{
	font-size: 2em;

}

img {
	margin-top: 30px;
}

@keyframes emergence {
    0% { opacity: 0; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}