@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');


* {
    padding: 0;
    margin: 0;
}

*::selection {
  background-color: firebrick;
  color: white;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff91de;
}

h1{
  color: white;
  font-family: 'Comfortaa';
  font-size: 2em;
  animation: typing 2s steps(12), blink 0.5s infinite;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  border-right: 3px solid white;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 379px;
  }
}

@keyframes blink {
  from {
    border-color: #ff91de;
  }
  to {
    border-color: white;
  }
}