@import url('https://fonts.googleapis.com/css?family=Nunito:900|Roboto:900');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 98vw;
    height: 90vh;
    background: linear-gradient(-45deg, #EE7725, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    font-family: 'Roboto';
    font-weight: 900;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;

}

#gameFiled {    
    width: 300px;
    height: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    margin: auto;
}

.block {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    border: 1.3px solid white;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
    font-size: 60px;
    font-family: 'Nunito';
    font-weight: 900;
    color: white;   
}

.space {
    cursor: pointer;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}